
body {
  
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  display:flex;
  margin: auto;
}

header {
  width: 100%;
  height: 64px;
}

header nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

nav div {
  display: flex;
  align-items: center;
}

ul {
  display: block;
}

li {
  display: inline;
}
